* {
    box-sizing: border-box;
}

body {
    background: #1e2326;
    padding-bottom: 30px;
    padding-top: 100px;
    font-family: 'Roboto Mono', monospace;
}

.calculator {
    max-width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 500px;
    display: grid;
    /* justify-content: center; */
    grid-template-rows: repeat(1, 0.7fr);
}

.calculator input {
    background: none;
    border: none;
    box-shadow: none;
    width: 100%;
    border-bottom: 2px solid #111;
    padding: 20px;
    text-align: right;
    font-size: 40px;
}

.calculator-buttons {
    /* padding: 20px; */
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    
    background-color: #1e2326;
}

.calc-button {
    background-color: #1e2326;
    border: none;
    padding: 20px;
    color: #EEE;
    /* border-radius: 5px; */
    font-size: 22px;
    cursor: pointer;
    border: 1px solid #2b3033;
    border-style: dotted;
}

.is-clear {
    background: #3572D8;
}

.is-equals {
    background-color: #fec208;
}

.calc-input{
    color: black;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 48px;
}
